<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="JAVA" path="*.java" verb="*" modules="CgiModule" scriptProcessor="C:\Program Files\Java\jdk1.8.0_131\bin\javac.exe" resourceType="File" requireAccess="Execute" />
            <add name="URL_AUTH" path="convert" verb="*" modules="UrlAuthorizationModule" resourceType="Either" requireAccess="Read" />
            <add name="JSP" path="*.jsp" verb="*" modules="ServerSideIncludeModule" scriptProcessor="C:\Program Files\Java\jdk1.8.0_131\bin\javac.exe" resourceType="File" requireAccess="Execute" />
        </handlers>
    </system.webServer>
</configuration>
