@charset "utf-8";

@import url(reset.css);

@import url(font.css);

img{
	max-width: 100%;
}

#viewport {
	font-size: 13px;
	height: 100%;
	position: relative;
	overflow: hidden;
	color: #434343;
}

#page {
	min-height: 100%;
	position: relative;
}

#m-header {
	
}

#m-section {
	min-height: 100%;
	overflow: hidden;
	/* 하단 사이즈에 따라 유동적으로 조절 */
	padding-bottom: 120px;
}

#m-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.clear{
	clear: both;
}